<!DOCTYPE html>
<html lang="es">

{{ partial "head.html" . }}

<body class="page page-identity">
  {{ partial "header.html" . }}

  <main class="main">
    <div class="container">
      <div class="row">
        <div class="col-100">
          <p>{{ .Description }}</p>
          <img src="{{ .Params.image }}" alt="{{ .Title }}">
          <br>
          <p>{{ .Params.downloads }}</p>
          <div>
            {{ .Content }}
          </div>
          <p><a href="{{ .Params.source }}" download>Descargar fuente</a></p>

          <h2>Wallpapers versión móvil</h2>
          <div class="wallpapers">
            <div class="wallpaper">
              <img src="/img/identity/wallpxaco2.png">
              <p>
                <a href="/img/identity/wallpxaco2.png" download>Descargar</a>
              </p>
            </div>
            <div class="wallpaper">
              <img src="/img/identity/wallpxaco.png">
              <p>
                <a href="/img/identity/wallpxaco.png" download>Descargar</a>
              </p>
            </div>
          </div>
          <h2>Wallpapers versión escritorio</h2>
          <div class="wallpapers">
            <div class="wallpaper">
              <img src="/img/identity/wallpaper.png">
              <p>
                <a href="/img/identity/wallpaper.png" download>Descargar</a>
              </p>
            </div>
            <div class="wallpaper">
              <img src="/img/identity/wallpaper2.png">
              <p>
                <a href="/img/identity/wallpaper2.png" download>Descargar</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
