.page-4aniv {
  .main {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
      font-size: 2.8rem;
    }

    p {
      font-size: 1.6rem;
    }

    img {
      width: 80%;
      display: block;
      margin: 0 auto;
    }

  }
}



