$purple: #292F51;
$blue: #164f75;
$sky: #2ba3bf;
$gray: #4d4a58;
$light-gray: #e0e0e0;
$red: #e03c31;
$almost-white: #fafaff;

$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1200px),
  'huge': (min-width: 2000px)
);
