body {
  font-size: 20px;
  line-height: 1.75;
  font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
  color: #444;
  letter-spacing: 0.1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h1 { font-size: 2.1rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.85rem; }

h4 { font-size: 1.65rem; }


a {
  color: $sky;
}
