.container {
  width: 86%;
  margin: 0 auto;
  padding: 2em 0;
}

@media screen and (max-width: 960px) {
  .container {
    width: 96%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: calc(100% - 2em);
  }
}
