.page-identity {
  img {
    max-width: 100%;
    height: auto;
  }

  .logo-white img {
    background-color: #292F51;
  }

  .wallpapers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: .4em;

    .wallpaper {
      p {
        margin: 0;
        padding: 0;
        text-align: center;

        a {
          margin: 0;
          padding: 0;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page-identity {
    .wallpapers {
      grid-template-columns: 1fr;
    }
  }
}
