<section class="section directory">
  <div class="section-title">
    <h2>Directorio de la comunidad</h2>
  </div>
  <div class="section-content">
    {{ range first 100 (where .Site.RegularPages "Type" "=" "directorio")}}
      <div class="post-thumbnail">
        <a href="{{ .Permalink }}" title="{{ .Params.name }}"><img src="{{ .Params.thumbnail }}" alt="{{ .Params.name }}"></a>
      </div>
    {{ end }}
  </div>
</section>
