<!DOCTYPE html>
<html lang="es">

{{ partial "head.html" . }}

<body class="page page-events">
  {{ partial "header.html" . }}

  <main class="main">
    <div class="container">
      {{ range .Pages.ByDate.Reverse }}
      <div class="post">
        <div class="post-title">
          <h1>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h1>
        </div>
        {{ if .Params.thumbnail }}
          <div class="post-thumbnail">
            <a href="{{ .Permalink }}">
              <img width="400" src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
            </a>
          </div>
        {{ end }}
        <div class="post-content">
          <p>{{ .Params.description }}</p>
        </div>
        <div class="post-place">
          Lugar: {{ .Params.event_place }}{{ if .Params.turnout }}, asistencia: {{ .Params.turnout }} personas.{{ end }}
        </div>
        <!-- <div class="post-topics">
          {{ range .Params.topics }}
            <div class="topic">{{ . }}</div>
          {{ end }}
        </div> -->
        <div class="post-footer">
          <a href="{{ .Permalink }}">Leer más</a>
        </div>
      </div>
      {{ end }}
    </div>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
